
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');

/*Applied to whole site*/
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    /* font-family: "Permanent Marker", sans-serif; */
    font-family: "Satisfy", sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}

/*In the header of all pages in Travel Caribbean--------------------------------------------------------------------------------------------------------------*/
#index-logo, .sub-pages-logo{
    font-size: 700%;
    padding-top: 10px;
    padding-left: 50px;
    color: white;
    margin: 0;
    text-shadow: 8px 8px rgba(70, 70, 70, 0.46);
}
#menu {
    float: right;
    padding-top: 0px;
    font-size: 150%;
}
    #menu li {
        margin-right: 30px;
        list-style-type: none;
        float: left;
    }
        .active {
            border-bottom: 1px solid rgb(255, 255, 255);
            color: grey;
        }
    #menu a {
        color: white;
        text-shadow: 2px 2px rgba(128, 128, 128, 0.46);
    }
        #menu a:hover {
            color:rgb(64, 131, 133);
        }


/*In the main body of index.html-------------------------------------------------------------------------------------------------------------------------------------*/
#index-types-div, #index-reviews-section, #index-steps-section, #turtle-banner{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*In hero video of index.html*/
#index-hero-video {
    object-fit: cover;
    height: 1100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
} 
#index-hero-section{
    height: 1100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#index-top-bar-div{
    background-color: rgba(85, 84, 84, 0.514);
    box-shadow: 0 40px 50px 0 rgba(230, 230, 230, 0.6), 0 10px 50px 0 rgba(0,0,0,0.7);
}
.sub-pages-top-bar {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    border-bottom: 3px solid whitesmoke;
    border-bottom-style: ridge;
    background-image: linear-gradient(0.25turn, #468088, #ecf0e9, #467ca0);
    } 
            #index-cover-text-div {
                /* color: rgb(102, 102, 102);
                text-shadow: 3px 3px rgba(235, 235, 235, 0.9); */
                color:  rgba(235, 235, 235, 0.9);
                text-shadow: 3px 3px rgb(102, 102, 102);
                font-size: 250%;
                text-align: center;
                background-color: rgba(58, 57, 57, 0.514);
                box-shadow: 0 40px 50px 0 rgba(230, 230, 230, 0.6), 0 10px 50px 0 rgba(0,0,0,0.7);
                /* border: 1px solid white; */
                width: 800px;
                line-height: 120px;
                letter-spacing:2px;
                height: 220px;
                padding: 10px 10px 40px 10px;
                position: relative;
                margin: 250px auto;
            }

/*In block 2 (Website capture text) of index.html*/
#index-capture-text-section{
    height: 220px;
    background-color: whitesmoke;
    font-size: 110%;
    padding: 30px;
    text-align: center;
}

/*In block 3 (Types of holiday) of index.html*/
#heading-bar{
    color: whitesmoke;
    text-align: center;
    line-height: 80px;
    font-size: x-large;
    background-color: rgba(57, 104, 116, 0.8);
    box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    border-top: 8px solid rgb(226, 225, 225);
    border-bottom: 8px solid rgb(226, 225, 225);
    border-style: ridge;
}
#index-types-div {
    height: 300px;
    /* background-color: teal; */
    background: url(../bvi3.jpg) center no-repeat no-repeat;
    background-size: cover;
}
    #index-types-container{
        width: 100%;
        height: 300px;
    }
    .types {
        border: 8px solid rgb(226, 225, 225);
        border-radius: 40px;
        border-style: ridge;
        background-color: rgba(255, 255, 255, 0.829);
        height: 100px;
        width: 170px;
        display: inline-block;
        margin: 3px;
        margin-top: 15px;
        text-align: center;
        line-height: 30px;
        font-size: x-large;
        padding-top: 40px;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
        transition-duration: 0.5s;
        color: rgb(24, 70, 71);
    }
        .types:hover {
            background-color: rgba(57, 104, 116, 0.4);
            color: whitesmoke;
        }

/*In block 5 (Contact, company ethos, partnerships) of index.html*/
#index-steps-section{
    height: 540px;
    background: url(../gallery/bvi4.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
    #index-steps-div{
        height: 400px;
        width: 90%;
        /* background-color: rgba(255, 105, 180, 0.582); */
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 40px;
    }
    #index-steps-contact-link{
        height: 50px;
        width: 400px;
        line-height: 50px;
        margin: auto;
        background-color: rgba(58, 57, 57, 0.514);
        box-shadow: 0 40px 50px 0 rgba(230, 230, 230, 0.6), 0 10px 50px 0 rgba(0,0,0,0.7);
        border: 5px solid rgb(226, 225, 225);
        border-style: ridge;
        border-radius: 20px;
        color: white;
    }
        #index-steps-contact-link:hover{
            background-color: rgba(40, 85, 81, 0.637);
        }
    #index-steps-contact-link a{
        color: white;
        text-shadow: 2px 2px rgba(128, 128, 128, 0.46);
        text-decoration: none;
        font-weight: 1000;
    }
    #index-steps-contact-link a:hover {
        color: grey;
    }
        .index-steps-col{
            /* background-color: teal; */
            height: 380px;
            width: 300px;
            display: inline-block;
            margin: 10px;
            padding-right: 10px;
            /* background-color: chartreuse; */
        }
            .index-steps-row-1{
                height: 130px;
                width: 290px;
                margin: 10px;
                /* background-color: violet; */
            }
                .index-steps-row-1-child{
                    height: 120px;
                    width: 120px;
                    background-color: rgba(85, 85, 85, 0.699);
                    margin: auto;
                    border-radius: 50%;
                    line-height: 120px;
                    color: whitesmoke;
                    border: 5px solid rgb(226, 225, 225);
                    border-style: ridge;
                }
                    .index-steps-row-1-child:hover{
                        background-color: rgba(40, 85, 81, 0.637);
                    }
            .index-steps-row-2{
                font-size: 200%;
                line-height: 40px;
                font-weight: bolder;
                height: 100px;
                width: 280px;
                padding-top: 20px;
                margin: 10px;
                background-color: rgba(255, 255, 255, 0.541);
                border-radius: 20px;
                border: 5px solid rgb(226, 225, 225);
                border-style: ridge;
            }
            .index-steps-row-3{
                height: 80px;
                width: 290px;
                margin: 10px;
                /* background-color: crimson; */
            }
                .index-steps-row-3-child{
                    height: 70px;
                    width: 70px;
                    background-color: rgba(255, 255, 255, 0.829);
                    margin: auto;
                    border-radius: 50%;
                    line-height: 70px;
                    border: 5px solid rgb(226, 225, 225);
                    border-style: ridge;
                    font-size: 200%;
                }

/*In block 4 (Reviews) of index.html*/
#index-reviews-section {
    height: 1200px;
    background-color: lightgray;
    background: url(../antigua4.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
    .review-left, .review-right {
        width: 60%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.6);
        border: 5px solid whitesmoke;
        border-radius: 60px;
        display: inline-block;
        margin: 35px 200px;
        color: whitesmoke;
        text-align: center;
        padding: 0.5%;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    }
    .review-left {
        float: left;
    }
    .review-right {
        float: right;
    }
        .review-text {
            height: 80%;
            width: 60%;
            float: left;
            margin-left: 15%;
            margin-top: 1%;
            /* background-color: rgba(128, 255, 0, 0.466); */
        }
        .review-border /*outer border of reviewer portrait*/{
            height: 130px;
            width: 130px;
            border: 2px solid whitesmoke;
            border-radius: 50%;
            float: right;
            margin-top: 5px;
        }
        #review1, #review2, #review3, #review4 /*Portrait of people reviewing 'company' (index.html)*/{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 5px;
            padding: 10px;
        }
                #review1 {
                    background: url(../review1.jpg) no-repeat center center;
                }
                #review2 {
                    background: url(../review2.jpg) no-repeat center center;
                }
                #review3 {
                    background: url(../review3.jpg) no-repeat center center;
                }
                #review4 {
                    background: url(../review4.jpg) no-repeat center center;
                }



/*In block 6 (Turtle Image) Thank you and Sign up button of index.html*/
#turtle-banner {
    height: 700px;
    border-top: 4px solid darkgrey;
    background: url(../barbados2.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
        #turtle-banner-thanks {
            width: 600px;
            height: 180px;
            background-color: rgba(56, 56, 56, 0.61);
            text-align: center;
            padding-top: 30px;
            margin: 300px auto 70px;
        }
        #turtle-banner-thanks h1 {
            color: white;
            font-size: 300%;
            margin: 0;
        }
        
        .styled-button {
            background-color: rgba(94, 94, 94, 0.781);
            border: 3px solid whitesmoke;
            font-size: large;
            transition-duration: 0.5s;
            }
            .styled-button:hover {
                background-color: rgb(136, 160, 172);
                box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
            }
            .styled-button a {
                text-decoration: none;
                color: white;
            }
            #turtle-button {
                width: 450px;
                height: 80px;
                border-radius: 20px;
            }

/*In maps.html----------------------------------------------------------------------------------------------------------------------------------------------------*/

#islands-header-container{
    height: auto;
}   
iframe{
    height: 600px;
}
#islands-internal-nav-bar{
    width: 100%;
    height: 170px;
    line-height: 160px;
    background-color: whitesmoke;
    text-align: center; 
    background-image: linear-gradient(0.25turn, #468088, #ecf0e9, #467ca0);
    box-shadow: 0 60px 75px 0 rgba(103, 170, 170, 0.4), 0 57px 100px 0 rgba(143, 151, 230, 0.3);
}
.hov-map {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: small;
    width: 12%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background-color: rgba(94, 94, 94, 0.781);
    transition-duration: 0.5s;
    color: white;
}
    .hov-map a {
        text-decoration: none;
        color: white;
    }
    .hov-map:hover {
        background-color: rgb(136, 160, 172);
        box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
    }
.islands-section{
    height: 900px;
    width: 100%;
}    
.islands-text{
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
    width: 800px;
    height: 500px;
    margin-right: 150px;
    margin-top: 100px;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 50px;
    float: right;
}
#map-link-1, #map-link-5{
    background-color: rgba(54, 54, 54, 0.575);
    background-image: url(../islands-backgrounds/thanks.jpg);
    background-size: cover;
}
#map-link-3, #map-link-7{
    background-color: rgba(54, 54, 54, 0.575);
    background-image: url(../islands-backgrounds/brochurelandscape.jpg);
    background-size: cover;
}
#map-link-2, #map-link-4, #map-link-6, #map-link-8{
    background-image: url(../islands-backgrounds/review.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.island-info{
    border: 2px solid rgb(58, 105, 128);
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    height: 400px;
}
.fa-arrow-circle-up{
    color: transparent;
}
.islands-section-map-link-container{
    width: 316px;
    height: 385px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
}
.islands-map{
    width: 300px;
    height: 300px;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
    border: 8px solid rgb(226, 225, 225);
    border-radius: 40px;
    border-style: ridge;
}
#islands-back-to-top{
    width: 200px;
    height: 50px;
    margin-top: 15px;
    border-radius: 150px;
}
#map-1{
    background: url(../small-maps/lucayan.png);
    background-size: 100% 100%; 
}
#map-2{
    background: url(../small-maps/cuba.png);
    background-size: 100% 100%; 
}
#map-3{
    background: url(../small-maps/ci-jamaica.png);
    background-size: 100% 100%; 
}
#map-4{
    background: url(../small-maps/hispaniola-pr.png);
    background-size: 100% 100%; 
}
#map-5{
    background: url(../small-maps/leeward.png);
    background-size: 100% 100%; 
}
#map-6{
    background: url(../small-maps/windward.png);
    background-size: 100% 100%; 
}
#map-7{
    background: url(../small-maps/tt-barbados.png);
    background-size: 100% 100%; 
}
#map-8{
    background: url(../small-maps/abc.png);
    background-size: 100% 100%; 
}
.island-page{
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
    padding-top: 50px;
}
.island-page h1{
    font-size: 400%;
    color: rgb(70, 70, 70);
    text-shadow: 8px 8px rgba(151, 150, 150, 0.46);
}
#island-page-button{
    color: ivory;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}
    #island-page-button:hover{
        cursor: pointer;
    }
#map1section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/lucayan.png);
    background-size: cover;
}
#map2section{
    height: 700px;
    width: 900px;
    margin: auto auto;
    background-image: url(../small-maps/cuba.png);
    background-size: cover;
}
#map3section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/ci-jamaica.png);
    background-size: cover;
}
#map4section{
    height: 700px;
    width: 850px;
    margin: auto auto;
    background-image: url(../small-maps/hispaniola-pr.png);
    background-size: cover;
}
#map5section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/leeward.png);
    background-size: cover;
}
#map6section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/windward.png);
    background-size: cover;
}
#map7section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/tt-barbados.png);
    background-size: cover;
}
#map8section{
    height: 700px;
    width: 700px;
    margin: auto auto;
    background-image: url(../small-maps/abc-big.png);
    background-size: cover;
}
/*In types.html---------------------------------------------------------------------------------------------------------------------------------------*/
.types-page-section{
    height: 970px;
}
#types-section-1{
    background: url(../types-images/cruising.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#types-section-2{
    background: url(../types-images/beach.jpeg) no-repeat center center;
    background-size: cover;
}
#types-section-3{
    background: url(../types-images/all-inclusive.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#types-section-4{
    background: url(../types-images/activity.jpeg) no-repeat center center;
    background-size: cover;
}
#types-section-5{
    background: url(../types-images/hotel-only.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#types-section-6{
    background: url(../types-images/flights-only.jpeg) no-repeat center center;
    background-size: cover;
}
#types-section-7{
    background: url(../types-images/singles.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#types-section-8{
    background: url(../types-images/naturist.jpeg) no-repeat center center;
    background-size: cover;
}
#types-section-9{
    background: url(../types-images/group.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.type-div{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 50px;
    width: 35%;
    height: 550px;
    float: left;
    margin: 100px;
}
.partnership-div{
    background-color: rgba(255, 255, 255, 0.466);
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 50px;
    width: 30%;
    height: 550px;
    float: right;
    margin: 100px;
    border: 3px solid rgb(43, 92, 104);
}
.logo{
    height: 20%;
    width: auto;
    margin: 25px;
}
#logo1{
    height: 12%;
    width: auto;
    margin: 40px;
}

/*In gallery.html-------------------------------------------------------------------------------------------------------------------------------------*/
#gallery-photos-section{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 20px;
    background-color: rgb(71, 71, 71);
    padding-right: 20px;
}
    #gallery-photos-section > img {
        width: 100%;
        margin: 10px;
        border-radius: 20px;
    }

/*In Signup.html-------------------------------------------------------------------------------------------------------------------------------------*/
#contact-page-section{
    height: 660px;
    width: 100%;
    background: url(../stmaarten1.jpg) no-repeat center center;
    background-size: cover;
    border-top: 8px solid darkgray;
}
    .contact-brochure-page {
        height: 500px;
        width: 400px;
        padding: 0;
        border: 0;
        display: inline-block;
    }
    #contact-brochure-top-page {
        background-color: rgb(224, 223, 223);
        margin-top: 80px;
        margin-left: 250px;
        transform: rotate(358deg);
        text-align: center;
        color: grey;
        float: left;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    }
        #contact-brochure-top-page h1 {
            text-align: left;
            margin-left: 20px;
        }
        #contact-brochure-top-page h2 {
            font-size: 80%;
        }
        #contact-brochure-image {
            width: 100%;
            border-top: 4px solid darkgray;
            border-bottom: 4px solid darkgray;
        }
        #contact-brochure-footer {
            width: 100%;
            height: 5%;
            background-color: grey;
            position: fixed;
            bottom: 15px;
            color: white;
        }
    #signup-form {
        width: 500px;
        height: 500px;
        background-color:rgba(245, 245, 245, 0.651);
        color: rgb(85, 85, 85);
        float: right;
        margin-top: 30px;
        padding: 50px;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
        text-align: left;
        transform: rotate(3deg);
        margin-right: 200px;
    }    
    #signup-form h1 {
        text-align: center;
    }
        .form-text {
            line-height: 20px;
            width: 400px;
            background: whitesmoke;
        }
        #budget{
            line-height: 20px;
            width: 100px;
            background: whitesmoke;
        }
    .form-white-text {
        color: rgb(85, 85, 85);
    }    
    #contact-form-button {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        float: right;
        border: 1px solid white;
        color: white;
    }
    #contact-brochure-button {
        width: 250px;
        font-size: 100%;
        height: 80px;
        border-radius: 20px;
        margin-top: 20px;
        color: white;
    }
/*Footer of all site pages---------------------------------------------------------------------------------------------------------------------------------*/
footer {
    height: 170px;
    width: 100%;
    background-color: whitesmoke;
    position: static;
    bottom: 0;
    color: rgb(102, 102, 102);
    border-top: 8px solid darkgray;
    text-align: center;
}
    .find-us li {
        font-size: 200%;
        display: inline;
        list-style-type: none;
        margin: 0 2% 0 1%;
        line-height: 100px;
    }
    footer a {
        color: rgb(102, 102, 102);
    }
        footer a:hover{
            color:rgb(64, 131, 133);
            border-bottom: 1px solid rgb(64, 131, 133);
        }
    /*Media responsiveness for all pages on the Travel Caribbean website-------------------------------------------------------------------------------------*/
    @media screen and (max-height: 1000px){
        #index-hero-video{
            height: 1000px;
        } 
        #index-hero-section{
            height: 1000px;
        }
    }
    @media screen and (max-height: 900px){
        #index-hero-video{
            height: 900px;
        } 
        #index-hero-section{
            height: 900px;
        }
    }
    @media screen and (max-height: 800px){
        #index-hero-video{
            height: 800px;
        } 
        #index-hero-section{
            height: 800px;
        }
    }  
    @media screen and (max-height: 700px){
        #index-hero-video{
            height: 700px;
        } 
        #index-hero-section{
            height: 700px;
        }
    }  
    @media screen and (max-width: 1752px){
        .types {
            width: 130px;
            font-size: large;
        }
    }
    @media screen and (max-width: 1738px){
        .type-div{
            width: 500px;
            margin-right: 10px;
        }
        .partnership-div {
            width: 300px; 
            height: 350px;
            margin-left: 10px;
        }
        .logo{
            height: 50px;
        }
        #logo1{
            height: 30px;
        }
    }
    @media screen and (max-width: 1600px){
        .hov-map {
            font-size: small;
            width: 6%;
            height: auto;
            padding: 10px;
            line-height: 15px;
            margin: 2%;
        }
    }    
    @media screen and (max-width: 1530px){
        .islands-section-map-link-container{
            width: 216px;
        }
        .islands-map{
            width: 200px;
            height: 200px;
        }
        .islands-text{
            width: 600px;
        }
    }    
    @media screen and (max-width: 1476px){
        .index-steps-col{
            width: 230px;
        }
        .index-steps-row-2{
            width: 200px;
            font-size: 150%;
            line-height: 30px;
            height: 80px;
        }
        .index-steps-row-1{
            width: 220px;
        }
        .index-steps-row-3{
            width: 220px;
        }
    }
    @media screen and (max-width: 1470px){
        #contact-brochure-top-page{
            margin-left: 30px;
        }
        #signup-form{
            margin-right:30px;
        }
    }
    @media screen and (max-width: 1432px){
        #index-steps-div{
            width: 100%;
        }
    }
    @media screen and (max-width: 1417px){
        .islands-section-map-link-container{
            width: 216px;
            height: 300px;
            float: right;
            margin-right: 180px;
        }
        .islands-map{
            width: 200px;
            height: 200px;
        }
        .islands-text{
            width: 700px;
            margin-top: 0px;
        }
        .islands-section{
            height: 1300px;
        }
        .fa-arrow-circle-left{
            color: transparent;
        }
        .fa-arrow-circle-up{
            color: black;
        }
    }
    @media screen and (max-width: 1403px){
        .types{
            width: 110px;
        }
    }
    @media screen and (max-width: 1350px){
        #index-logo{
            font-size: 500%;
        }
        #index-cover-text-div{
            margin: 150px auto;
        }
    }    
    @media screen and (max-width: 1310px){
        .sub-pages-logo{
            font-size: 350%;
            padding-top: 20px;
        }
        .sub-pages-top-bar{
            height: 120px;
        }
    }     
    @media screen and (max-width: 1234px){
        .types{
            width: 130px;
        }
        #index-types-container{
            height: 500px;
            line-height: 135px;
        }
        #index-types-div{
            height: 500px;
            background-size: auto 100%;
        }
    }  
    @media screen and (max-width: 1227px){
        .types-page-section{
            height: 1400px;
        }
        .type-div{
            margin-bottom: 10px;
        }
        .partnership-div {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    @media screen and (max-width: 1142px){
        #index-reviews-section{
            height: 1250px;
        }
    }   
    @media screen and (max-width: 1100px){ 
        .islands-section-map-link-container{
            margin-right: 50px;
        }
        .islands-text{
            margin-right: 40px;
        }
    }    
    @media screen and (max-width: 1070px){
        .contact-brochure-page{
            width: 280px;
            height: 350px;
            font-size: 70%;
        }
        #contact-brochure-footer{
            font-size: 70%;
        }
        #contact-brochure-button{
            width: 200px;
            height: 60px;
        }
    }
    @media screen and (max-width: 1055px){
        .index-steps-col{
            width: 150px;
        }
        .index-steps-row-2{
            width: 120px;
            font-size: 100%;
            line-height: 30px;
            height: 80px;
        }
        .index-steps-row-1{
            width: 140px;
        }
        .index-steps-row-3{
            width: 140px;
        }
    }
    @media screen and (max-width: 1048px){
        #index-reviews-section{
            height: 1300px;
        }
        #gallery-photos-section{
            column-count: 3;
        }  
    }    
    @media screen and (max-width: 987px){
        .hov-map {
            width: 60px;
            margin: 0.5%;
        }
    }
    @media screen and (max-width: 985px){
        .sub-pages-top-bar{
            height: 200px;
        }
    } 
    @media screen and (max-width: 950px){
        #signup-form{
            transform: rotate(0deg);
            width: 300px;
            font-size: 85%;
        }
        #fname, #lname, #email{
            width: 300px;
        }
        #contact-form-button{
            height: 30px;
            width: 100px;
            margin-top: 5px;
            font-size: 70%;
        }
        .find-us li{
            font-size: 80%;
        }
        #turtle-banner{
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: cover;
        }
    }   
    @media screen and (max-width: 900px){
        .islands-text{
            width: 540px;
            height: 700px;
        }
        .islands-section{
            height: 1400px;
        }
        .island-info{
            height: 620px;
        }
    }    
    @media screen and (max-width: 893px){
        .review-text {
            margin-left: 20px;
        }
        #index-reviews-section{
            height: 1450px;
        }
    }    
    @media screen and (max-width: 860px){
        #index-cover-text-div{
            width: 350px;
            height: 140px;
            margin: 150px auto;
            font-size: 150%;
            line-height: 55px;
        }
    }
    @media screen and (max-width: 801px){
        #index-reviews-section{
            height: 1500px;
        }
    }  
    @media screen and (max-width: 772px){
        .types{
            width: 110px;
        }
        #gallery-photos-section{
            column-count: 2;
        }    
    }  
    @media screen and (max-width: 750px){
        #contact-page-section{
            background: url(../gallery/dominica4.jpg) no-repeat center center;
            background-attachment: fixed;
            height: 1200px;
        }
        #signup-form h1{
            color: black;
            text-shadow: 4px 4px rgba(53, 53, 53, 0.4);
        }
        label{
            color: black;
        }
        #signup-form h3{
            color: black;
        }
        .form-white-text{
            color: black;
        }
    }  
    @media screen and (max-width: 736px){
        #islands-internal-nav-bar{
            height: 170px;
            line-height: 80px;
        }
        .hov-map {
            width: 90px;
            margin: 0.5%;
        }
    }
    @media screen and (max-width: 735px){
        #index-reviews-section{
            height: 1450px;
        }
    }  
    @media screen and (max-width: 729px){
        #index-steps-section{
            height: 920px;
        }
        #index-steps-div{
            height: 800px
        }
        .index-steps-col{
            width: 280px;
        }
        .index-steps-row-2{
            width: 260px;
            font-size: 150%;
            line-height: 30px;
            height: 80px;
        }
        .index-steps-row-1, .index-steps-row-3{
            width: 270px;
        }
        .type-div{
            margin-left: 10px;
        }
    }
    @media screen and (max-width: 710px){
        #index-reviews-section{
            height: 1500px;
        }
        #map1section{
            height: 400px;
            width: 400px;
            margin: auto;
        }
        #map2section{
            height: 400px;
            width: 400px;
        }
        #map3section{
            height: 400px;
            width: 400px;
        }
        #map4section{
            height: 400px;
            width: 400px;
        }
        #map5section{
            height: 400px;
            width: 400px;
        }
        #map6section{
            height: 400px;
            width: 400px;
        }
        #map7section{
            height: 400px;
            width: 400px;
        }
        #map8section{
            height: 400px;
            width: 400px;
        }
        .island-page h1{
            font-size: large;
        }
        #island-page-button{
            width: 150px;
        }
        .island-page{
            height: 600px;
        }
    }    
    @media screen and (max-width: 700px){
        .islands-text{
            width: 350px;
            padding: 15px;
        }
        .islands-text h2{
            font-family: 'lato';
            font-size: medium;
        }
    }
    @media screen and (max-width: 690px){
        #turtle-banner{
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: auto 100%;
        }
        #turtle-banner-thanks{
            width: 400px;
            height: 130px;
            padding-top: 30px;
            margin: 300px auto 70px;
        }
        #turtle-banner-thanks h1 {
            font-size: 200%;
        }
        #turtle-button {
            width: 330px;
            height: 70px;
            border-radius: 20px;
        }
        .types{
            width: 90px;
            font-size: small;
        }
    } 
    @media screen and (max-width: 674px){
        #index-reviews-section{
            height: 1600px;
        }
    }    
    @media screen and (max-width: 654px){
        #index-reviews-section{
            height: 1800px;
        }
        .review-left, .review-right {
            float: none;
            width: 400px;
            margin: 20px auto;
        }
        .review-text{
            height: 90%;
            width: 90%;
            margin: 10px 13px 10px;
        }
        .review-border{
            float: none;
            position: relative;
            bottom: 130px;
            right: 130px;
            float: right;
        }
        #review-div-1{
            height: 330px;
        }
        #review-div-2{
            height: 370px;
        }
        #review-div-3{
            height: 380px;
        }
        #review-div-4{
            height: 330px;
        }
    }
    @media screen and (max-width: 623px){
        .index-steps-col{
            width: 180px;
        }
        .index-steps-row-2{
            width: 160px;
            font-size: 100%;
            line-height: 30px;
            height: 80px;
        }
        .index-steps-row-1, .index-steps-row-3{
            width: 170px;
        }
        .types-page-section{
            height: 1650px;
        }
        .type-div{
            height: 800px;
            width: 300px;
        }
        .partnership-div {
            float: left;
        }
    }   
    @media screen and (max-width: 581px){
        #menu{
            font-size: 100%;
            padding-left: 60px;
        }
        #menu li{
            margin-right: 20px;
        }
        #index-logo{
            margin-top: 70px;
            font-size: 500%;
        }    
    } 
    @media screen and (max-width: 573px){ 
        #index-types-div{
            height: 690px;
        }
        #index-types-container{
            height: 630px;
        }
        .types{
            width: 110px;
            font-size: large;
        }
    }
    @media screen and (max-width: 518px){
        #index-capture-text-section{
            font-size: 100%;
            height: 220px;
        }
        #heading-bar{
            font-size: small;
        }
        #turtle-banner{
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: auto 100%;
            background-position: right;
        }        
    }
    @media screen and (max-width: 476px){
        #index-cover-text-div{
            width: 200px;
            height: 140px;
            margin: 30px auto;
            font-size: 125%;
            line-height: 40px;
        }
        #islands-header-container{
            height: 980px;
        }   
        #islands-internal-nav-bar{
            height: 250px;
            line-height: 55px;
        }
    }
    @media screen and (max-width: 470px){
        .sub-pages-logo{
            padding-right: 50px;
        }
        #islands-header-container{
            height: 1050px;
        } 
        .islands-text{
            width: 275px;
            margin-right: 10px;
            height: 900px;
        }
        .islands-text h2{
            text-align: center;
        }
        .islands-section{
            height: 1550px;
        }
        .island-info{
            height: 800px;
        }
    }    
    @media screen and (max-width: 467px){
        #index-capture-text-section{
            height: 260px;
        }
        #index-reviews-section{
            height: 1900px;
        }
        .review-left, .review-right {
            float: none;
            margin: 10px auto;
            width: 300px;
            height: 400px;
            padding: 0px;
        }
        .review-border{
            right: 80px;
        }
        #review-div-1{
            height: 370px;
        }
        #review-div-2{
            height: 430px;
        }
        #review-div-3{
            height: 420px;
        }
        #review-div-4{
            height: 370px;
        }
    }
    @media screen and (max-width: 454px){
        #menu li{
            text-align: right;
            float: none;
            padding-left: 177px;
        }
        #index-logo{
            font-size: 300%;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 100px;
        }
        #index-cover-text-div{
            width: 130px;
            height: 160px;
            line-height: 40px;
            font-size: 90%;
        }
        .sub-pages-top-bar{
            height: 350px;
        }
        #islands-header-container{
            height: 1200px;
        }
    }
    @media screen and (max-width: 423px){
        #index-steps-div{
            height: 500px
        }
        #index-steps-section{
            height: 650px;
        }
        #index-steps-contact-link{
            width: 200px;
            height: 50px;
            line-height: 25px;
            padding: 10px;
        }
        .index-steps-col{
            width: 300px;
            height: 100px;
            margin: 10px auto;
            padding-right: 0;
        }
        .index-steps-row-1{
            height: 70px;
            width: 70px;
            display: inline-block;
            margin: 0px;
        }
        .index-steps-row-1-child{
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: small;
        }
        .index-steps-row-2{
            display: inline-block;
            width: 100px;
            height: 70px;
            margin: 0px;
            line-height: 20px;
            margin-left: 5px;
            font-size: small;
        }
        .index-steps-row-3{
            width: 70px;
            height: 70px;
            display: inline-block;
            margin: 0px;
            margin-left: 5px;
        }
        .index-steps-row-3-child{
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
    }    
    @media screen and (max-width: 420px){
        #signup-form{
            width: 225px;
            height: 540px;
            padding: 20px;
        }
        #fname, #lname, #email{
             width: 200px;
        }
        #contact-form-button{
            margin-top: 30px;
        }
        .types-page-section{
            height: 1550px;
        }
        .type-div{
            height: 900px;
            width: 170px;
        }
        .partnership-div{
            width: 200px;
            padding: 20px;
            height: 200px;
        }
        .logo{
            margin: 20px;
            height: 20px;
        }
        #logo1{
            margin: 20px;
            height: 20px;
        }
    }
    @media screen and (max-width: 417px){
        #turtle-banner-thanks{
            width: 300px;
        }
        #turtle-button{
            width: 250px;
            height: 70px;
            border-radius: 20px;
            font-size: 90%;
        }
        .types{
            width: 100px;
        }
    }
    @media screen and (max-width: 406px){
        #index-logo{
            margin-top: 70px;
            font-size: 400%;
        }
        #gallery-photos-section{
            column-count: 1;
        }
    }
    @media screen and (max-width: 403px){
        #index-types-container{
            height: 1050px;
        }
    }    
    @media screen and (max-width: 386px){
        #index-capture-text-section{            
            height: 280px;
        }
        #index-types-div{
            height: 880px;
        }
        #index-types-container{
            height: 800px;
        }
        .types{
            width: 110px;
            height: 60px;
            line-height: 15px;
            padding-top: 20px;
        }  
    }
    @media screen and (max-width: 368px){
        #menu{
            font-size: 100%;
        }
        #menu li{
            margin-right: 10px;
        }
    } 
    @media screen and (max-width: 360px){
        #index-capture-text-section{
            height: 320px;
        }
    }
    @media screen and (max-width: 352px){
        #islands-header-container{
            height: 1230px;
        }   
        #islands-internal-nav-bar{
            height: 280px;
        }
    }
    @media screen and (max-width: 327px){
        #index-reviews-section{
            height: 2400px;
        }
        .review-left, .review-right {
            width: 200px;
            height: 520px;
        }
        .review-border{
            right: 30px;
        }
        #review-div-1{
            height: 500px;
        }
        #review-div-2{
            height: 580px;
        }
        #review-div-3{
            height: 560px;
        }
        #review-div-4{
            height: 490px;
        }
        .sub-pages-top-bar{
            height: 280px;
            text-align: center;
        }
        .sub-pages-logo{
            padding-left: 20px;
        }
        #islands-header-container{
            height: 1150px;
        }
        .islands-section-map-link-container{
            margin-right: 10px;
        } 
        #menu li{
            padding-left: 50px;
        }
    }
    @media screen and (max-width: 319px){
        #index-capture-text-section{
            height: 380px;
        }
    }
    @media screen and (max-width: 301px){
        .index-steps-col{
            width: 200px;
            margin-bottom: 90px;
        }
            .index-steps-row-3-child{
                margin-left: 40px;
            }
        #index-steps-section{
            height: 950px;
        }
        #index-steps-div{
            height: 800px;
        }
    }    
    @media screen and (max-width: 295px){
        #heading-bar{            
            line-height: 40px;
        }
        #index-types-div{
            height: 1150px;
        }
        #index-types-container{
            line-height: 90px;
            height: 1100px;
        }
        .types{
            width: 140px;
            height: 50px;
            line-height: 2px;
        }
    }
    @media screen and (max-width: 261px){
        .sub-pages-logo{
            font-size: 280%;
        }
        #menu{
            padding-left: 0px;
        }
        #islands-header-container{
            height: 1120px;
        }
    }
    @media screen and (max-width: 249px){
        #index-capture-text-section{
            height: 420px;
        }
        #heading-bar{            padding-left: 10px;
            padding-right: 10px;
        }
        #index-steps-contact-link{
            width: 150px;
            height: 65px;
            line-height: 20px;
        }
    }
    @media screen and (max-width: 231px){
        #islands-header-container{
            height: 1350px;
        }   
        #islands-internal-nav-bar{
            height: 500px;
            line-height: 55px;
        }
    }
    @media screen and (max-width: 218px){
        #index-capture-text-section{
            height: 490px;
        }
    }