
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');

/*Applied to whole site*/
body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    /* font-family: "Permanent Marker", sans-serif; */
    font-family: "Satisfy", sans-serif;
    margin: 0;
}

/*In the header of all pages in Travel Caribbean--------------------------------------------------------------------------------------------------------------*/
#logo, .logo-page{
    font-size: 700%;
    padding-top: 40px;
    padding-left: 50px;
    color: rgb(235, 235, 235);
    margin: 0;
    text-shadow: 8px 8px rgba(70, 70, 70, 0.46);
}
#menu {
    float: right;
    padding-top: 0px;
    font-size: 150%;
}
    #menu li {
        margin-right: 30px;
        list-style-type: none;
        float: left;
    }
        .active {
            border-bottom: 1px solid grey;
        }
    #menu a {
        color: rgb(235, 235, 235);
        text-shadow: 2px 2px rgba(128, 128, 128, 0.46);
        text-decoration: none;
    }
        #menu a:hover {
            color: grey;
        }


/*In the main body of index.html-------------------------------------------------------------------------------------------------------------------------------------*/
#block3, #block4, #block5, #block6 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*In block 1 (Hero Image) of index.html*/
#video {
    object-fit: cover;
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
} 
#index-hero{
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#caribbean-bg {
    height: 230px;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    border-bottom: 3px solid whitesmoke;
    border-bottom-style: ridge;
    background-image: linear-gradient(0.25turn, #468088, #ecf0e9, #467ca0);
    }
   
            #cover-text {
                color: rgb(102, 102, 102);;
                text-shadow: 3px 3px rgba(235, 235, 235, 0.9);
                font-size: 250%;
                text-align: center;
                background-color: rgba(252, 252, 252, 0.616);
                box-shadow: 0 40px 50px 0 rgba(230, 230, 230, 0.6), 0 10px 50px 0 rgba(0,0,0,0.7);
                width: 800px;
                line-height: 120px;
                letter-spacing:2px;
                height: 220px;
                padding: 10px 10px 40px 10px;
                position: relative;
                margin: 250px auto;
            }

/*In block 2 (Website capture text) of index.html*/
#block2 {
    height: 220px;
    background-color: whitesmoke;
    font-size: 110%;
    padding: 30px;
    text-align: center;
}

/*In block 3 (Types of holiday) of index.html*/
#block3-text {
    color: whitesmoke;
    line-height: 80px;
    font-size: x-large;
    background-color: rgba(57, 104, 116, 0.8);
    box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    border-top: 8px solid rgb(226, 225, 225);
    border-bottom: 8px solid rgb(226, 225, 225);
    border-style: ridge;
}
#block3 {
    height: 300px;
    /* background-color: teal; */
    background: url(../bvi3.jpg) center no-repeat no-repeat;
}
    #types-div{
        width: 100%;
        height: 300px;
    }
    .types {
        border: 8px solid rgb(226, 225, 225);
        border-radius: 40px;
        border-style: ridge;
        background-color: rgba(255, 255, 255, 0.829);
        height: 100px;
        width: 170px;
        display: inline-block;
        margin: 3px;
        margin-top: 15px;
        text-align: center;
        line-height: 30px;
        font-size: x-large;
        padding-top: 40px;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
        transition-duration: 0.5s;
    }
        .types:hover {
            height:120px;
            width:180px;
            background-color: rgba(57, 104, 116, 0.4);
            color: whitesmoke;
        }

/*In block 5 (Contact, company ethos, partnerships) of index.html*/
#block5 {
    height: 470px;
    background: url(../gallery/bvi4.jpg) no-repeat center center;
    background-attachment: fixed;
}
    #contact{
        height: 400px;
        width: 90%;
        /* background-color: rgba(255, 105, 180, 0.582); */
        margin: 0 auto;
        padding-bottom: 30px;
        padding-top: 40px;
    }
        .col{
            /* background-color: teal; */
            height: 380px;
            width: 300px;
            display: inline-block;
            margin: 10px;
            padding-right: 10px;
            /* background-color: chartreuse; */
        }
            .row-1{
                height: 130px;
                width: 290px;
                margin: 10px;
                /* background-color: violet; */
            }
                .row-1-child{
                    height: 120px;
                    width: 120px;
                    background-color: rgba(85, 85, 85, 0.699);
                    margin: auto;
                    border-radius: 50%;
                    line-height: 120px;
                    color: whitesmoke;
                    border: 5px solid rgb(226, 225, 225);
                    border-style: ridge;
                }
            .row-2{
                font-size: 200%;
                line-height: 40px;
                font-weight: bolder;
                height: 100px;
                width: 280px;
                padding-top: 20px;
                margin: 10px;
                background-color: rgba(255, 255, 255, 0.541);
                border-radius: 20px;
                border: 5px solid rgb(226, 225, 225);
                border-style: ridge;
            }
            .row-3{
                height: 80px;
                width: 290px;
                margin: 10px;
                /* background-color: crimson; */
            }
                .row-3-child{
                    height: 70px;
                    width: 70px;
                    background-color: rgba(255, 255, 255, 0.829);
                    margin: auto;
                    border-radius: 50%;
                    line-height: 70px;
                    border: 5px solid rgb(226, 225, 225);
                    border-style: ridge;
                    font-size: 200%;
                }

/*In block 4 (Reviews) of index.html*/
#block4 {
    height: 1200px;
    background-color: lightgray;
    background: url(../antigua4.jpg) no-repeat center center;
    background-attachment: fixed;
    width: 100%;
}
    .review-left, .review-right {
        width: 60%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.6);
        border: 5px solid whitesmoke;
        border-radius: 60px;
        display: inline-block;
        margin: 35px 200px;
        color: whitesmoke;
        text-align: center;
        padding: 0.5%;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    }
    .review-left {
        float: left;
    }
    .review-right {
        float: right;
    }
        .review-text {
            height: 80%;
            width: 60%;
            float: left;
            margin-left: 15%;
            margin-top: 1%;
            /* background-color: rgba(128, 255, 0, 0.466); */
        }
        .review-border /*outer border of reviewer portrait*/{
            height: 130px;
            width: 130px;
            border: 2px solid whitesmoke;
            border-radius: 50%;
            float: right;
            margin-top: 5px;
        }
        #review1, #review2, #review3, #review4 /*Portrait of people reviewing 'company' (index.html)*/{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 5px;
            padding: 10px;
        }
                #review1 {
                    background: url(../review1.jpg) no-repeat center center;
                }
                #review2 {
                    background: url(../review2.jpg) no-repeat center center;
                }
                #review3 {
                    background: url(../review3.jpg) no-repeat center center;
                }
                #review4 {
                    background: url(../review4.jpg) no-repeat center center;
                }



/*In block 6 (Turtle Image) Thank you and Sign up button of index.html*/
#block6 {
    height: 700px;
    border-top: 4px solid darkgrey;
    background: url(../barbados2.jpg) no-repeat center center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
        #thanks {
            width: 600px;
            height: 180px;
            background-color: rgba(56, 56, 56, 0.61);
            text-align: center;
            padding-top: 30px;
            margin: 300px auto 70px;
        }
        #thanks h1 {
            color: white;
            font-size: 300%;
            margin: 0;
        }
        
        .button {
            background-color: rgba(94, 94, 94, 0.781);
            border: 3px solid whitesmoke;
            font-size: large;
            transition-duration: 0.5s;
            }
            .button:hover {
                background-color: rgb(136, 160, 172);
                box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
            }
            .button a {
                text-decoration: none;
                color: white;
            }
            #turtlebutton {
                width: 450px;
                height: 80px;
                border-radius: 20px;
            }

/*In maps.html----------------------------------------------------------------------------------------------------------------------------------------------------*/

#map-links{
    width: 100%;
    height: 460px;
    }
    #map-links-container {
        width: 100%;
        height: 200px;
        background-color: whitesmoke;
        text-align: center; 
        background-image: linear-gradient(0deg, grey, white);
        box-shadow: 0 60px 75px 0 rgba(103, 170, 170, 0.4), 0 57px 100px 0 rgba(143, 151, 230, 0.3);
    }
    #caribbean-map {
        height: 100%;
        width: 100%;
        margin: 0;
        float: right;
    }
    .hov-map {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        width: 300px;
        height: 45px;
        line-height: 45px;
        display: inline-block;
        margin-top: 1.5%;
        margin-bottom: 1%;
        padding: 0;
        text-align: center;
        background-color: rgba(94, 94, 94, 0.781);
        transition-duration: 0.5s;
    }
        .hov-map a {
            text-decoration: none;
            color: white;
        }
        .hov-map:hover {
            background-color: rgb(136, 160, 172);
            box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
        }

.maps-section {
    width: 100%;
    height: 900px;
    border-top: 4px solid darkgray;
    box-shadow: 0 60px 75px 0 rgba(103, 170, 170, 0.4), 0 57px 100px 0 rgba(143, 151, 230, 0.3);
    position: relative;   
}        
.maps-section h1 {
    margin-left: 10%;
    font-size: 200%;
    color: grey;
    text-shadow: 2px 2px rgba(184, 184, 184, 0.4);
    margin-top: 5%;
}        
    .map-box {
        height: 500px;
        width: 30%;
        margin-left: 150px;
        background-color: white;
        box-shadow: 0 30px 35px 0 rgba(0,0,0,0.4), 0 27px 60px 0 rgba(0,0,0,0.3);
        display: inline-block;
        margin-right: 100px;
    }
        .small-map {
            width: 100%;
            height: 100%;
        }
    .map-text {
        display: inline-block;
        height: 400px;
        width: 50%;
        box-shadow: 0 30px 35px 0 rgba(0,0,0,0.4), 0 27px 60px 0 rgba(0,0,0,0.3);
        position: absolute;
        padding: 20px;
    }    
    #text-5 {
        columns: 2;
    }
    .bespoke-button {
        background-color: rgba(94, 94, 94, 0.781);
        border: 1.5px solid whitesmoke;
        transition-duration: 0.5s;
        width: 300px;
        height: 40px;
        border-radius: 15px;
        line-height: 35px;
        }
        .bespoke-button:hover {
            background-color: rgb(136, 160, 172);
            box-shadow: 0 20px 25px 0 rgba(0,0,0,0.4), 0 17px 50px 0 rgba(0,0,0,0.3);
        }
        .bespoke-button a {
            text-decoration: none;
            color: white;
            text-align: center;
        }

/*In gallery.html-------------------------------------------------------------------------------------------------------------------------------------*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 20px;
    background-color: rgb(71, 71, 71);
}
    #photos > img {
        width: 100%;
        margin: 10px;
        border-radius: 20px;
    }

/*In Signup.html-------------------------------------------------------------------------------------------------------------------------------------*/
#signup-block1 {
    height: 660px;
    width: 100%;
    background: url(../stmaarten1.jpg) no-repeat center center;
    border-top: 8px solid darkgray;
}
    .page {
        height: 500px;
        width: 400px;
        padding: 0;
        border: 0;
        display: inline-block;
    }
    #brochure-toppage {
        background-color: rgb(224, 223, 223);
        margin-top: 80px;
        margin-left: 250px;
        transform: rotate(358deg);
        text-align: center;
        color: grey;
        float: left;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
    }
        #brochure-toppage h1 {
            text-align: left;
            margin-left: 20px;
        }
        #brochure-toppage h2 {
            font-size: 80%;
        }
        #beachpic {
            width: 100%;
            border-top: 4px solid darkgray;
            border-bottom: 4px solid darkgray;
        }
        #brochure-footer {
            width: 100%;
            height: 5%;
            background-color: grey;
            position: fixed;
            bottom: 15px;
            color: white;
        }
    #signup-form {
        width: 500px;
        height: 500px;
        background-color:rgba(245, 245, 245, 0.466);
        color: gray;
        float: right;
        margin-top: 30px;
        padding: 50px;
        box-shadow: 0 40px 50px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,0.7);
        text-align: left;
        transform: rotate(3deg);
        margin-right: 200px;
    }    
    #signup-form h1 {
        text-align: center;
    }
        .form-text {
            line-height: 20px;
            width: 400px;
            background: whitesmoke;
        }
    .form-white-text {
        color: white;
    }    
    #signup-button {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        float: right;
        border: 1px solid white;
    }

/*Footer of all site pages-------------------------------------------------------------------------------------------------------------------------------------*/
footer {
    height: 170px;
    width: 100%;
    background-color: whitesmoke;
    position: static;
    bottom: 0;
    color: darkgray;
    border-top: 8px solid darkgray;
    text-align: center;
}
    .findus li {
        font-size: 200%;
        display: inline;
        list-style-type: none;
        margin: 0 2% 0 1%;
        line-height: 100px;
    }
    footer a {
        color: darkgray;
    }

    /*Media responsiveness for all pages on the Travel Caribbean website---------------------------------------------------------------------------------------------*/

    /*  FOR INDEX.HTML
        Hero Image needs fixing at 1000px - height of image needs reducing
        Capture text breaks at 515px - section needs extending in height
        Types of holiday breaks at 625px - font needs making smaller, and EITHER type boxes smaller OR section extending in height
        Reviews break at 1295px - section needs extending - this needs repeating a few tims as screen size reduces
        Thank you breaks at 1150px - button gets overridden and goes out of site - positional fix in HTML with %positioning?
        Find us breaks at 1175px - goes onto 2 lines - make icons smaller and margins smaller

        FOR RECOMMENDATIONS.HTML - page needs creating
        (Thank you and find us need fixing)

        FOR MAPS.HTML
        Large map breaks pretty much straight away - surely there's a better way to style this?
        Small map text boxes break at 1500 - need reducing in width
        ^ at a smaller width text box can go below small map
        Small maps break straight away, set fixed width and height rather than % to fix
        Side-by-side buttons break at 1225px - need placing below one another instead
        (Thank you and find us need fixing)

        FOR GALLERY.HTML
        Reduce to 3 collums for tablet size
        Reduce to 2 collums for smartphone size
        (Thank you and find us need fixing)*/
    @media screen and (max-height: 800px){
        #video{
            height: 800px;
        } 
        #index-hero{
            height: 800px;
        }
    }  
    @media screen and (max-height: 700px){
        #video{
            height: 700px;
        } 
        #index-hero{
            height: 700px;
        }
    }  
    @media screen and (max-height: 600px){
        #video{
            height: 600px;
        } 
        #index-hero{
            height: 600px;
        }
    } 
    @media screen and (max-height: 500px){
        #video{
            height: 500px;
        } 
        #index-hero{
            height: 500px;
        }
    }
    @media screen and (max-width: 1752px){
        .types {
            width: 130px;
            font-size: large;
        }
            .types:hover{
                width: 140px;
            }
    }
    @media screen and (max-width: 1470px){
        #brochure-toppage{
            margin-left: 30px;
        }
        #signup-form{
            margin-right:30px;
        }
    }
    @media screen and (max-width: 1432px){
        #contact{
            width: 100%;
        }
    }
    @media screen and (max-width: 1403px){
        .types{
            width: 110px;
        }
            .types:hover{
                width: 120px;
            }
    }
    @media screen and (max-width: 1323px){
        #logo{
            font-size: 500%;
        }
        #cover-text{
            margin: 30px auto;
        }
    }    
    @media screen and (max-width: 1310px){
        .logo-page{
            font-size: 350%;
        }
    }  
    @media screen and (max-width: 1329px){
        .col{
            width: 230px;
        }
        .row-2{
            width: 200px;
            font-size: 150%;
            line-height: 30px;
            height: 80px;
        }
        .row-1{
            width: 220px;
        }
        .row-3{
            width: 220px;
        }
    }    
    @media screen and (max-width: 1234px){
        .types{
            width: 130px;
        }
            .types:hover{
                width: 140px;
            }
        #types-div{
            height: 500px;
            line-height: 135px;
        }
        #block3{
            height: 500px;
        }
        #block5{
            height: 470px;
        }
    }
    @media screen and (max-width: 1142px){
        #block4{
            height: 1200px;
        }
    @media screen and (max-width: 1070px){
        .page{
            width: 280px;
            height: 350px;
            font-size: 70%;
        }
        #brochure-footer{
            font-size: 70%;
        }
    }
    @media screen and (max-width: 1055px){
        .col{
            width: 150px;
        }
        .row-2{
            width: 120px;
            font-size: 100%;
            line-height: 30px;
            height: 80px;
        }
        .row-1{
            width: 140px;
        }
        .row-3{
            width: 140px;
        }
    }
    @media screen and (max-width: 1048px){
        #block4{
            height: 1300px;
        }
        #photos {
            column-count: 3;
        }  
    @media screen and (max-width: 950px){
        #signup-form{
            transform: rotate(0deg);
            width: 300px;
            font-size: 85%;
        }
        #fname, #lname, #email{
            width: 300px;
        }
        #signup-button{
            height: 30px;
            width: 100px;
            margin-top: 5px;
            font-size: 70%;
        }
        .findus li{
            font-size: 80%;
        }
        #block6 {
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: 100% 100%;
        }
    }
    @media screen and (max-width: 893px){
        .review-text {
            margin-left: 20px;
        }
    }    
    @media screen and (max-width: 860px){
        #cover-text {
            width: 350px;
            height: 140px;
            margin: none;
            font-size: 150%;
            line-height: 55px;
        }
    }
    @media screen and (max-width: 825px){
        #block4{
            height: 1400px;
        }
      
    @media screen and (max-width: 772px){
        .types{
            width: 110px;
        }
            .types:hover{
                width: 120px;
            }
            #photos {
                column-count: 2;
            }    
    }  
    @media screen and (max-width: 750px){
        #signup-block1{
            background: url(../gallery/dominica4.jpg) no-repeat center center;
            background-attachment: fixed;
            height: 1200px;
        }
        #signup-form h1{
            color: black;
            text-shadow: 4px 4px rgba(53, 53, 53, 0.4);
        }
        label{
            color: black;
        }
        #signup-form h3{
            color: black;
        }
        .form-white-text{
            color: black;
        }
    }  
    @media screen and (max-width: 729px){
        #block5{
            height: 870px;
        }
        #contact{
            height: 800px
        }
        .col{
            width: 280px;
        }
        .row-2{
            width: 260px;
            font-size: 150%;
            line-height: 30px;
            height: 80px;
        }
        .row-1, .row-3{
            width: 270px;
        }
    }
    @media screen and (max-width: 710px){
        #block4{
            height: 1500px;
        }
    @media screen and (max-width: 690px){
        #block6 {
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: auto 100%;
        }
        #thanks {
            width: 400px;
            height: 130px;
            padding-top: 30px;
            margin: 300px auto 70px;
        }
        #thanks h1 {
            font-size: 200%;
        }
        #turtlebutton {
            width: 330px;
            height: 70px;
            border-radius: 20px;
        }
        .types{
            width: 90px;
            font-size: small;
        }
        .types:hover{
            width: 100px;
        }
    } 
    @media screen and (max-width: 674px){
        #block4{
            height: 1600px;
        }
    @media screen and (max-width: 654px){
        #block4{
            height: 1550px;
        }
        .review-left, .review-right {
            float: none;
            width: 400px;
            height: 300px;
            margin: 20px auto;
        }
        .review-text{
            height: 90%;
            width: 90%;
            margin: 10px 13px 10px;
        }
        .review-border{
            float: none;
            margin: 160px auto 5px;
        }
    }
    @media screen and (max-width: 623px){
        .col{
            width: 180px;
        }
        .row-2{
            width: 160px;
            font-size: 100%;
            line-height: 30px;
            height: 80px;
        }
        .row-1, .row-3{
            width: 170px;
        }
    }   
    @media screen and (max-width: 573px){ 
        #block3{
            height: 690px;
        }
        #types-div{
            height: 630px;
        }
        .types{
            width: 110px;
            font-size: large;
        }
            .types:hover{
                width: 120px;
            }
    }
    @media screen and (max-width: 531px){
        #menu{
            font-size: 100%;
        }
        #menu li{
            margin-right: 20px;
        }
        #logo{
            margin-top: 70px;
            font-size: 500%;
        }    
    } 
    @media screen and (max-width: 518px){
        #block2 {
            font-size: 100%;
            height: 220px;
        }
        #block3-text {
            font-size: small;
        }
        #block6 {
            background: url(../gallery/barbados4.jpg) no-repeat center center;
            background-size: auto 100%;
            background-position: right;
        }        
    }
    @media screen and (max-width: 476px){
        #cover-text {
            width: 200px;
            height: 140px;
            margin: 30px auto;
            font-size: 125%;
            line-height: 40px;
        }
    }
    @media screen and (max-width: 467px){
        #block2 {
            height: 260px;
        }
        #block4{
            height: 1850px;
        }
        .review-left, .review-right {
            float: none;
            margin: 10px auto;
            width: 300px;
            height: 400px;
            padding: 0px;
        }
        .review-border{
            margin: 250px auto 5px;
        }
    }
    @media screen and (max-width: 423px){
        #contact{
            height: 500px
        }
        #block5{
            height: 570px;
        }
        .col{
            width: 300px;
            height: 100px;
            margin: 10px auto;
            padding-right: 0;
        }
        .row-1{
            height: 70px;
            width: 70px;
            display: inline-block;
            margin: 0px;
        }
        .row-1-child{
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: small;
        }
        .row-2{
            display: inline-block;
            width: 100px;
            height: 70px;
            margin: 0px;
            line-height: 20px;
            margin-left: 5px;
            font-size: small;
        }
        .row-3{
            width: 70px;
            height: 70px;
            display: inline-block;
            margin: 0px;
            margin-left: 5px;
        }
        .row-3-child{
            width: 60px;
            height: 60px;
            line-height: 60px;
        }
    }    
    @media screen and (max-width: 420px){
        #signup-form{
            width: 200px;
            height: 600px;
        }
        #fname, #lname, #email{
             width: 200px;
        }
        #signup-button{
            margin-top: 30px;
        }
    }
    @media screen and (max-width: 417px){
        #thanks {
            width: 300px;
        }
        #turtlebutton {
            width: 250px;
            height: 70px;
            border-radius: 20px;
            font-size: 90%;
        }
        .types{
            width: 100px;
        }
            .types:hover{
                width: 110px;
            }
    }
    @media screen and (max-width: 406px){
        #logo{
            margin-top: 70px;
            font-size: 400%;
        }
        #photos {
            column-count: 1;
        }
    }
    @media screen and (max-width: 403px){
        #types-div{
            height: 1050px;
        }
    }    
    @media screen and (max-width: 386px){
        #block2{
            height: 280px;
        }
        #block3{
            height: 880px;
        }
        #types-div{
            height: 800px;
        }
        .types{
            width: 110px;
            height: 60px;
            line-height: 15px;
            padding-top: 20px;
        }
            .types:hover{
                width: 120px;
                height: 70px;
            }
    }
    @media screen and (max-width: 368px){
        #menu{
            font-size: 100%;
        }
        #menu li{
            margin-right: 10px;
        }
    }
    @media screen and (max-width: 360px){
        #block2 {
            height: 320px;
        }
    }
    @media screen and (max-width: 327px){
        #menu li{
            text-align: right;
            float: none;
        }
        #logo{
            font-size: 300%;
            text-align: center;
            padding-left: 0px;
            margin-top: 100px;
        }
        #cover-text {
            width: 130px;
            height: 160px;
            line-height: 40px;
            font-size: 90%;
        }
        #block4{
            height: 2350px;
        }
        .review-left, .review-right {
            width: 200px;
            height: 520px;
        }
        .review-border{
            margin: 360px auto 5px;
        }
    }
    @media screen and (max-width: 319px){
        #block2 {
            height: 380px;
        }
    }
    @media screen and (max-width: 301px){
        .col{
            width: 200px;
            margin-bottom: 90px;
        }
            .row-3-child{
                margin-left: 40px;
            }
        #block5{
            height: 850px;
        }
        #contact{
            height: 800px;
        }
    }    
    @media screen and (max-width: 295px){
        #block3-text{
            line-height: 40px;
        }
        #block3{
            height: 1150px;
        }
        #types-div{
            line-height: 90px;
            height: 1100px;
        }
        .types{
            width: 140px;
            height: 50px;
            line-height: 2px;
        }
            .types:hover{
                width: 150px;
                height: 55px;
            }
    }
    @media screen and (max-width: 249px){
        #block2 {
            height: 420px;
        }
        #block3-text{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @media screen and (max-width: 218px){
        #block2 {
            height: 490px;
        }
    }
    